.project-details-body {
  width: 90%;
  margin: 0 auto;
  padding-top: 3%;
  position: relative;
  clear: both;
}

.project-details-holder {
  clear: both;
  float: left;
  width: 100%;
}

.project-details-info {
  width: 70%;
  float: left;
}

.project-details-h1 {
  text-align: left;
  font-family: 'Gaegu', sans-serif;
  width: 100%;
  margin: 0 auto;
  font-size: 4em;
  text-transform: uppercase;
  /* border-bottom: 2px solid linear-gradient(red, orange); */
}

.project-details-info > p {
  text-transform: initial;
  font-family: courier, sans-serif;
  font-size: 28px;
  line-height: 1.4em;
  text-align: left;
  width: 100%;
}

.project-details-coder-info {
  width: 25%;
  border-left: 1px solid lightpink;
  text-align: left;
  float: right;
  /* background-color: gray; */
}

.project-details-coder-info > ul {
  list-style-type: none;
  padding-top: 8%;
}

.project-details-coder-info > ul li {
  color: rgba(0,0,0,0.4);
  font-family: "Overpass Mono", monospace, sans-serif;
}

.project-details-coder-info > ul li::before {
  content: "\2022 ";
  color: lightskyblue;
}

.project-details-skills {
  width: 100%;
  clear: both;
}

.project-details-skills > ul {
  list-style-type: none;
  display: inline-flex;
  float: left;
  padding: 0;
}

.project-details-skills > ul li button {
  margin-right: 10px;
  border: none;
  background-color: rgb(219, 113, 113);
  color: white;
  font-size: 24px;
  letter-spacing: 0.02em;
  font-family: "Jua", Garamond, serif;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.project-details-skills > ul li button:hover {
  background-color: rgb(194, 96, 96);
}

.project-details-skills > ul li button:focus {
  outline: 0;
}

.project-details-stats {
  clear: both;
    /* position: relative; */
    width: 100%;
    /* padding-top: 5%; */
    text-align: left;
}
